/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */
@media (max-width: 1200px)
{
	.container article#slider_content1 , .container article#slider_content2 , .container article#slider_content3 
	{
		left: 200px;
		top: 30%;
		width: 50%;
	}

	.three_columns span#moto {
		font-size: 350%;
	}
}

@media (max-width: 1050px)
{	

	.inside_page {
		width: 95%;
	}
	
	footer, #wrapper {
		margin-left:0;
	}
	
	footer .wrapper {
		width: 95%;
	}
	
	footer .wrapper .contuct_details ul {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	
	footer .wrapper .contuct_details form {
		float: none;
		min-width: 280px;
		width: 100%;
		margin: 0 auto;
	}
	
	footer .wrapper .contuct_details form input {
		float: left;
		width: 100%;
	}

	.container {
		margin-top:65px;
	}
		
	.three_columns section
	{
		padding: 0 20px;
	}

}

@media (max-width: 765px)
{

	.boxcontent span {
		width: 330px;
		bottom: -122px;
	}

	header nav{
		display:none;
	}
	
	header.inside_header nav {
		width: 100%;
		margin: 56px 0 0 0;
		background: #333;
		padding: 0;
		position: relative;
		top: 0;
		left: 0;
		border: 0;
	}
	
	header.inside_header nav ul, header.inside_header nav ul li {
		float: none;
	}
	
	header.inside_header #menu_icon {
		display:block;
	}
	
	.three_columns .img-item {
		margin: 0 auto;
		width: 275px;
		float: none;
	}
	
	.three_columns span#moto {
		display:none;
	}
}

@media (max-width: 500px)
{
	.container span.down {
		width: 60px;
		margin: -8px auto 0 auto;
	}
	.boxcontent {
		margin-top: -50px;
		padding: 55px 0 80px 0;
	}
	.container article#slider_content1 , .container article#slider_content2, .container article#slider_content3 
	{
		left: 0;
		top: 22%;
		width: auto;
	}
	
	.container article#slider_content1 h3, .container article#slider_content2 h3, .container article#slider_content3 h3 {
		font-size: 1.5rem;
		line-height: 28px;
		padding-left:10px;
	}

	
	footer .wrapper
	{
		max-width: 100%;
	}
	footer .wrapper .column
	{
		margin: 0 auto 15px auto;
		max-width:300px;
	}	
	footer .wrapper .contuct_details ul li span{
		display:block;
	}
	
	#copyright .wrapper .designers {
		float: none;
		margin-top: 0;
	}
	
	.product_listing ul{
		position: relative;
	}
	
	.product_listing #inside_calculator {
		margin: 40px auto 0 auto;
	}
	
	.product_listing ul.items {
		margin-left: 0;
		margin-top: 30px;
		padding-left: 0;
		border-left: 0;
	}
}

@media (max-width: 300px)
{
	.boxcontent {
		padding-top: 150px;
	}
	
	.container {
		display:none;
	}
}
