html.error_container, body.error_container, nav.error_container{
	height: 100%;
}

body.inside_body
{
	background-image: url("../images/icons/pattern.png");
	background-repeat: repeat;
	background-size: 1px 6px;
}

input, textarea
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 7px;
	outline: 0;
	border: 0;
	width: 100%;
	margin-bottom: 10px;
	outline: none;
	transition:background 0.5s ease;
}

input:focus, textarea:focus, input:hover, textarea:hover{
	color:white;
	outline: none;
	background: #00BFCF;
	outline: 0;
}

p
{
	margin:5px 0;
	line-height:25px;
}

a
{
	text-decoration:none;
	color:inherit;
	transition: color .5s ease;
}

strong
{
	font-weight:bold;
}

figcaption strong
{
	border-bottom: 1px solid #D6D0C1;
	padding-bottom:10px;
	margin: 10px 0;
	display:block;
}

figcaption
{
	line-height: 25px;
	font-size:14px;
	width:200px;
}

hr
{
	background-color: #D6D0C1;
	border:0;
	height:1px;
	margin:20px 0;
}

@font-face {
    font-family: cool_font;
    src: url('../fonts/font.ttf'),
    url('../fonts/font.eot'); /* IE9 */
   url('../fonts/font.otf');
}

.language{
	position: fixed;
	top: -7px;
	right: 0;
	z-index: 999;
}

.language a{
	background-image: url("../images/icons/flags.png");
	width: 70px;
	height: 80px;
	display: block;
	background-position: -79px 0px;
	background-repeat: no-repeat;
}

.language a.en{
	background-position: -1px 1px;
}


/* BUTTONS */

.button, input[type=submit]
{
	padding: 10px 30px;
	background-color: #000000;
	color: #FFFFFF;
	font-size:16px;
	text-decoration: none;
	box-shadow: 2px 2px 5px 0px #333;
	transition: all 0.5s ease;
	margin: 30px 0 0 0;
	position: relative;
	float: right;
}

.button:hover, input[type=submit]:hover
{
	background: #00BFCF;
	color: #333;
}

h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	margin-bottom: 20px;
	text-align: center;
}

/* HEADER */

header
{
	position: fixed;
	color: white;
	height: 100%;
	background: #2F2F2F;
	left: 0;
	z-index: 9999;
	top: 0;
	width:155px;
	border-left: 10px solid #00BFCF;
	box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

header .logo {
	position: absolute;
	z-index: 999;
	top: 10px;
	left: 5px;
}

header .logo img{
	width:135px;
}

header nav
{
	margin-top: 200px;
	color: #fff;
}

header h1
{
	font-size: 55px;
	color: #000000;
}

nav
{
	position:relative;
}

nav ul
{
	list-style:none;
}

nav ul li
{
	padding: 5px 10px 5px 10px;
	transition: background .5s ease;
}

nav ul li a
{
	font-family: 'Open Sans', sans-serif;
	color: white;
	transition: color .5s ease;
}

nav ul li:hover, nav ul li.current
{
	background: #00BFCF;
}

#alternative_menu
{
	width: 150px;
	position:absolute;
	top:100px;
	left:50%;
	margin-left: -75px;
	display:none;
}

header #calculator, header #espa{
	position: relative;
	cursor: pointer;
	width: 75%;
	display: block;
	margin: 0 auto;
}

header #espa img{
	width:75px;
}


header.inside_header #espa{
	display:none;
}


header.inside_header{
	position: fixed;
	color: white;
	width:auto !important;
	left: 0;
	top: 0;
	height: 66px;
	right: 0;
	box-shadow: 0 3px 20px #333;
	border-top: 10px solid #00BFCF;
	border-left: 0;
	margin-top: -100px;
	margin-left: 0;
}

header.inside_header nav{
	width: 90%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	top: 0;
	left: auto;
}

header.inside_header nav ul{
	float: right;
	padding: 0;
}

header.inside_header nav ul li{
	transition: background .5s ease;
	float: left;
	padding:0;
}

header.inside_header nav ul li a
{
	display: block;
	padding:20px;
}

header.inside_header #menu_icon{
	background-image: url("../images/icons/menu_icon.png");
	width: 50px;
	height: 50px;
	display: none;
	float: right;
	margin: 5px 70px 0 0;
	background-position: 2px 0px;
	background-repeat: no-repeat;
	transition: color .5s ease;
	cursor: pointer;
}

header.inside_header #menu_icon:hover{
	background-image: url("../images/icons/menu_icon.png");
	background-position: -50px 0px;
}

header.inside_header .language, .inside_header .logo{
	position:absolute;
	top: -18px;
}

header.inside_header .logo{
	position:absolute;
	top: 4px;
}

header.inside_header #calculator{
	display:none;
}

#wrapper{
	margin-left: 155px;	
}

/*slider*/
.container
{
	width:auto;
	margin: 0 auto;
	position:relative;
}

.container span.down{
	background-image: url("../images/icons/down.png");
	width: 80px;
	background-repeat: no-repeat;
	display: block;
	height: 65px;
	background-size: 100%;
	position: relative;
	z-index: 99;
	margin: -10px auto 0 auto;
}

.container .rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.container .rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none
	width: 100%;
	left: 0;
	top: 0;
}

.container .rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.container .rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}


.container article#slider_content1, .container article#slider_content2, .container article#slider_content3
{
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top: 15%;
	width: 40%;
	left: 250px;
	display: none;
	z-index: 11;
	line-height: 45px;
}

.container article#slider_content1 h3, .container article#slider_content2 h3, .container article#slider_content3 h3
{
	color: white;
	font-size: 40px;
}

.container article#slider_content1
{
	display:block;
}

.container article#slider_content1 p, .container article#slider_content2 p, .container article#slider_content3 p
{	
	margin:0 0 30px 0;
	color:#4a463b;
	background-color:#EBE8DE;
	padding:10px 15px;
	border-radius: 5px;
}

.suppliers{
	margin-top: 100px !important;
}

.suppliers a{
	width: 120px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}
.suppliers img{width:100%;}

/* one COLUMNS */
.boxcontent
{
	width: 100%;
	margin-top: -47px;
	padding: 70px 0 80px 0;
	color: white;
	background: #333;
	position:relative;
}

.boxcontent article
{
	width: auto;
	max-width: 90%;
	margin: 0 auto;
	padding: 0 20px;
}

.boxcontent article p
{
	margin-bottom: 10px;
}

.boxcontent article p
{
	line-height:25px;
	font-family: 'Open Sans', sans-serif;
	text-align:justify;
}

.boxcontent span{
	background: url("../images/bgn.png") no-repeat;
	overflow: visible;
	display: block;
	width: 500px;
	height: 205px;
	bottom: -100px;
	right: 20px;
	background-size: 100%;
	position: absolute;
}

/* FOUR COLUMNS */
.four_columns
{
	line-height:25px;
	font-family: 'Open Sans', sans-serif;
	clear:both;
	width:auto;
	max-width:90%;
	margin:0 auto;
	padding:50px 0;
}

.four_columns section
{
	text-align: center !important;
	margin: 0 auto;
	position: relative;
}

.four_columns .img-item
{
	display: inline-block;
	margin: 0 3% 0 0;
	transition: all 0.5s ease;
}

.four_columns .img-item a, .three_columns .img-item a
{
	position: relative;
	display: block;
	opacity: 0.8;
	width: 200px;
	height: 140px;
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px #333;
	overflow: hidden;
	transition: all 0.5s ease;
}

.four_columns .img-item a:hover, .three_columns .img-item a:hover
{
	opacity:1;
}

.four_columns .img-item a img, .three_columns .img-item a img{
	width: 100%;
	max-width: 100%;
}

.four_columns p{
	text-align:justify;
	clear: both;
	margin: 34px 12px 0 13px;
}

.four_columns .button{
	margin-right: 20px;
}

/* THREE COLUMNS */
.three_columns
{
	line-height:25px;
	font-family: 'Open Sans', sans-serif;
	clear:both;
	width: 100%;
	padding: 50px 0 80px 0;
	background-image: url("../images/icons/pattern.png");
	background-repeat: repeat;
	background-size: 10px;
}

.three_columns section
{
	width:auto;
	max-width:90%;
	margin:0 auto;
	text-align:center;
}

.three_columns span#moto{
	display: block;
	line-height: 80px;
	font-size: 445%;
	color: #00BFCF;
	opacity: 0.5;
	font-family: cool_font, 'Open Sans', sans-serif;
	margin-top: 50px;
	text-align: center;
	z-index: -1;
}

.three_columns .img-item
{
	display: inline-block;
	margin: 0 12px 0 13px;
}

.three_columns .img-item a{
	border: none;
	opacity: 1;
	width: 275px;
	height: 300px;
	position:relative;
}

.three_columns .img-item a img{
	width: 100%;
	height: 100%;
}

.three_columns .img-item a .thumb-screen{ 
	display: none;
	position: absolute;
	top: 0;
	text-align: center;
	left: 0;
	width: 100%;
	border-radius: 5px;
	bottom: 0;
	opacity: 0.9;
	color:white;
	font-size: 20px;
	background: rgba(255, 255, 255, 0.35)
	padding: 40% 20px 0 20px;
	transition: all 0.5s ease;
	cursor:pointer;
}

.three_columns .img-item a:hover .thumb-screen{
	display:block;
}

/* FOOTER */

footer
{
	position:relative;
	clear:both;
	width:auto;
	height:auto;
	margin-left: 155px;
	background: #585858;
}

footer .wrapper
{
	line-height:25px;
	margin: 0 auto;
	padding: 50px 0;
	width:auto;
	max-width:90%;
	font-size:14px;
}
footer .wrapper .map{
	height: 350px;
}

footer .wrapper .contuct_details{
	color: white;
	overflow: hidden;
	margin-top: 30px;
}

footer .wrapper .contuct_details ul{
	float: left;
	min-width: 345px;
	width: 50%;
}

footer .wrapper .contuct_details ul li h4{
	color: #00BFCF;
	border-bottom: 1px dashed;
	margin-bottom: 10px;
}

footer .wrapper .contuct_details ul li#second{
	margin-top: 20px;
}

footer .wrapper .contuct_details ul li span{
	margin-right: 5px;
	width: 120px;
	display: inline-block;
}

footer .wrapper .contuct_details form{
	float: right;
	min-width: 360px;
	width: 42%;
}

footer .wrapper .contuct_details form p{
	display: block;
	font-size: 18px;
	color: #00BFCF;
	margin-top: 0;
}

footer .wrapper .contuct_details form label{
	float: left;
	clear: both;
}

footer .wrapper .contuct_details form input{
	float: right;
	border: 2px dashed transparent;
}

footer .wrapper .contuct_details form input.button{
	margin: 10px 0;
	cursor: pointer;
	border-radius: 0;
	float: right;
	width:200px;
}

footer .wrapper .contuct_details form textarea{
	width: 100%;
	border: 2px dashed transparent;
}


footer .wrapper .contuct_details form textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #333;
}
footer .wrapper .contuct_details form textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #333;
}
footer .wrapper .contuct_details form textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #333;
}
footer .wrapper .contuct_details form textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
     color: #333;
}

footer .wrapper .contuct_details form input.error, footer .wrapper .contuct_details form textarea.error{
	border: 2px dashed red;
}

#copyright
{
	background: #666666;
	position: relative;
	width: 100%;
	border-top: 1px dashed rgb(156, 156, 156);
}
#copyright .wrapper
{
	font-family: 'Open Sans', sans-serif;
	padding:5px 0 10px 0;
	color: #CCCCCC;
	font-size:14px;
	position:relative;
}

#copyright .wrapper .designers
{
	float:right;
	margin-top: 15px;
}

#copyright .wrapper .designers a
{
	transition: opacity .5s ease;
	color:#ccc;
}

#copyright .wrapper a:hover
{
	color: #00BFCF;
}


/* MISC */
.clear
{
	clear:both;
}
.hidden
{
	position:absolute;
	clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  	clip: rect(1px, 1px, 1px, 1px);
  	display:none;
}

#koemmerling{
	position: fixed;
	z-index: 9999;
	top: 0;
	display:none;
	bottom: 0;
	width: 100%;
	background-image: url("../images/icons/overlay.png");
	background-repeat: repeat;
}

#koemmerling object{
	width: 100%;
	margin: 0px auto;
	cursor:pointer;
	position: relative;
}

.close{
	margin: 20px 50px 0 0;
	color: white;
	opacity: 0.8;
	font-size:50px;
	float: right;
	cursor: pointer;
	z-index:9999;
}

.close:hover{
	opacity:1;
}

/**********Other pages**********************/
.inside_page{
	padding: 20px;
	width: 90%;
	position: relative;
	margin: 100px auto 50px auto;
	overflow: hidden;
	min-height: 800px;
	background: white;
	border-radius: 15px;
}

.inside_page h2{
	font-family: cool_font, 'Open Sans', sans-serif;
	font-size: 36px;
	margin-bottom: 20px;
	text-align: center;
}

.product_listing ul{
	position: absolute;
	left: 0;
	margin: 0;
	color: #333;
}

.product_listing ul li{
	margin-bottom: 10px;
	border-left: 10px solid;
}

.product_listing ul li a{
	color: #333;
}

.product_listing ul li.selected{
	background: #00BFCF;
}

.product_listing ul.items{
	min-height: 800px;
	margin-left: 215px;
	display: block;
	overflow: hidden;
	text-align: center;
	position: relative;
	padding-left: 20px;
	border-left: 2px dashed #333;
}

.product_listing ul.items li{
	margin: 0 3% 10px 3%;
	padding: 0;
	width: 150px;
	border: none;
	vertical-align: top;
	min-width: 110px;
	display: inline-block;
}

.not_hovered{
	margin-bottom: 20px;
	padding: 0;
	text-align: center;
}

.not_hovered h3{
	padding: 10px 0 10px 10px;
	border-left: 10px solid;
	font-family: cool_font, 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
}

.product_listing #inside_calculator{
	width: 190px;
	border-radius: 10px;
	padding: 10px;
	font-size: 18px;
	font-family: "century gothic", 'Open Sans', sans-serif;
	margin: 40px 0 0 20px;
	line-height: 25px;
	color: white;
	background: #333;
	border: none;
}

.product_listing #inside_calculator img{	
	margin-left: 25px;
}


.product_listing #inside_espa {
	display: block;
	margin: 20px 0 0 25px;
	border: none;
}
.product_listing #inside_espa img{
	width: 170px;
}
.product_listing ul.items li:hover,.not_hovered:hover{
	background:none;
}

.product_listing ul.items li p{
	background: #333;
	color: white;
	padding: 5px;
	margin: 0;
}

.product_listing ul.items li img{
	opacity: 0.8;
	width: 100%;
	margin: 10px 0;
	display: block;
}

.product_listing ul.items li img:hover{
	opacity:1;
}

.terms p{
	margin: 10px 0;
	text-align: justify;
	line-height: 15px;
	color: #8A8A8A;
	font-size: 11px;
}

.error_page{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 100;
	padding-top: 50px;
	text-align: center;
	color: white;
	background: rgb(0, 0, 0);
	background-image: url("../images/icons/pattern.png");
	background-repeat: repeat;
	background-size: 25px 1px;
}

.error_page h2{
	margin:20px;
	color: rgb(255, 235, 0);
}